.calculator {
  display: flex;
  flex-direction: column;
  padding: 0px 1rem;
}

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 5rem));
  grid-template-rows: repeat(5, 3rem);
  grid-gap: 1.3rem;
  gap: 1.3rem;
  padding: 1.25rem;
  border-radius: 10px;
}
button {
  font-weight: 700;
  border-radius: 5px;
  outline: 0;
  border: 0;

  /* transition: all 0.25s; */
}

.calculator--output {
  min-height: 6rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  font-size: 2rem;
  padding: 1rem;
}

.previous-output {
  font-size: 1.2rem;
}

.spanTwo {
  grid-column: span 2;
}

.calculator--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 1rem;
  gap:1.5rem
}
.theme-controller {
  display: flex;
  flex-direction: column;
}

.calculator--header .calculator--logo {
  font-size: 2rem;
  flex-basis: 75%;
}
.calculator--header .theme {
  font-size: 12px;
}

.numeric-btn {
  font-size: 1.8rem;
}

.del-btn {
  font-size: 1rem;
}
.reset-btn {
  font-size: 1rem;
}

button:hover {
  border: none;
}
/* ///////////////////////////// */

@media (max-width: 500px) {
  html {
    font-size: 85%;
  }
}

.lastrowButton {
  font-size: 1.3rem;
}
