.calculator {
  display: flex;
  flex-direction: column;
}

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 4.5rem));
  grid-template-rows: repeat(5, 2.75rem);
  grid-gap: 1rem;
  gap: 1rem;
  padding: 1.25rem;
  border-radius: 10px;
}
button {
  font-weight: 700;
  border-radius: 5px;
  outline: 0;
  border: 0;
}

.calculator--output {
  min-height: 6rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  font-size: 2rem;
  padding: 1rem;
}

.previous-output {
  font-size: 1.2rem;
}

.spanTwo {
  grid-column: span 2;
}

.calculator--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.theme-controller {
  display: flex;
  flex-direction: column;
}

.calculator--header .calculator--logo {
  font-size: 1.75rem;
  flex-basis: 75%;
}
.calculator--header .theme {
  font-size: 12px;
}

.numeric-btn {
  font-size: 1.5rem;
}

.del-btn {
  font-size: 1rem;
}
.reset-btn {
  font-size: 1rem;
}

/* ///////////////////////////// */

@media (max-width: 500px) {
  html {
    font-size:80%;
  }
}
