:root{
  --Very-ark-desaturated-blue: hsl(223, 31%, 20%);
  --Very-dark-desaturated-blue : hsl(222, 26%, 31%);/*(main background)*/
  --Very-dark-desaturated-blue : hsl(224, 36%, 15%);/*(screen background)*/

  /* #### Keys */
  --Desaturated-dark-blue : hsl(225, 21%, 49%);/*(key background)*/
  --Desaturated-dark-blue : hsl(224, 28%, 35%);/*(key shadow)*/
  --Red: hsl(6, 63%, 50%);/* (key background, toggle)*/
  --Dark-red : hsl(6, 70%, 34%);/* ((key shadow))*/
  
  --Light-grayish-orange : hsl(30, 25%, 89%);/*(key background)*/
  --Grayish-orange: hsl(28, 16%, 65%);

  --Very-dark-grayish-blue: hsl(221, 14%, 31%);
  --White: hsl(0, 0, 100%);
}