@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-weight: 700;
  line-height: 1.5;
}


